.prjct-quickview {
	@apply fixed;

	@apply top-0;
	@apply right-0;
	@apply inset-y-0;

	@apply lg:w-[700px];
	// @apply sm:w-[600px];

	@apply bg-white;
	@apply dark:bg-dark-800;

	@apply shadow-lg;
	@apply z-aside;

	@apply transition-transform;
	@apply duration-[5s];
	@apply ease-in-out;

	&.slide-in {
		animation: slideIn 0.3s ease-in-out;
	}

	&.slide-out {
		animation: slideOut 0.3s ease-in-out;
	}
}

.layout_overlay {
	@apply fixed;
	@apply w-full;
	@apply h-full;
	@apply top-0;
	@apply left-0;
	@apply z-modalOverlay;

	@apply bg-black;
	@apply bg-opacity-50;

	@apply backdrop-blur-sm;

	@apply pointer-events-auto;
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}
